<%- include('../partials/sidebar.ejs') %>

<!-- BANNER -->
<div class="content__banner">
  <section class="banner pt-3 pb-4 px-4 px-md-5">
    <div class="banner__intro d-lg-grid">
      <div class="banner__welcome">
        <h1 class="banner__user fw-bold mb-3">Error 404</h1>
      </div>
    </div>
  </section>
</div>
