@import "../config";
@import "../global";

.query {
  width: 100%;

  &__form {
    width: 100%;
    gap: 2%;
    grid-template-columns: 69% 29%;
  }

  &__input-container {
    position: relative;

    input {
      width: 100%;
      height: toRem(50);
      border: 1px solid $color-alternative;
      outline: none;
      border-radius: toRem(6);
      padding: 0 toRem(40);
    }

    input:focus-visible {
      border-color: $color-secondary;
    }
  }

  &__input-icon {
    width: toRem(20);
    height: toRem(20);
    background-image: url("../../icon/search.svg");
    position: absolute;
    left: toRem(12);
    top: 30%;
    @extend %icon;
  }

  &__options {
    display: flex;
    height: toRem(50);
    width: 100%;
    gap: toRem(10);

    .query__option-container {
      width: 50%;
    }

    select {
      height: 100%;
      width: 100%;
      border-radius: toRem(6);
      outline: none;
      border: 1px solid $color-alternative;
      padding: 0 2%;
    }

    .query__filter--flush {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      color: $color-light;
      border-radius: toRem(6);
      background: $color-alternative;
    }
  }
}
