@import "./global";
@import "./config";

body {
  background: $color-dark;
}

.login__background {
  background: url("../../img/media/bullet-crossfit-gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 50%;
  display: none;
}

.login__container {
  // min-height: 100vh;
  height: 100vh;
  padding: toRem(25);
  padding-top: toRem(50);
  position: relative;
  background: $color-dark;

  .login__header {
    .header__logo {
      width: 100%;
      max-width: 200px;
      margin-bottom: toRem(40);
    }

    .header__title {
      font-weight: bold;
      font-size: toRem(32);
      color: $color-light;
      margin-bottom: toRem(50);
    }
  }

  .login__form {
    width: 100%;
    max-width: 450px;

    .login__input--container {
      margin-bottom: toRem(40);

      .login__input:first-child {
        margin-bottom: toRem(40);
      }

      .login__input {
        position: relative;
        width: 100%;
        border-bottom: 1px solid $color-alternative-2;

        label {
          position: absolute;
          transition: ease-in 0.3s;
          bottom: 7px;
          font-size: toRem(16);
          font-family: $font-secondary;
          color: $color-alternative-2;
        }
        label.focus {
          font-size: toRem(12);
          transition: ease-in 0.3s;
          transform: translateY(-28px);
          color: $color-secondary;
        }

        input {
          width: 90%;
          padding-top: 20px;
          font-family: $font-secondary;
          border: none;
          outline: none;
          height: toRem(55);
          background: $color-dark;
          color: $color-light;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:hover {
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
        }

        .password--toggle {
          height: toRem(20);
          width: toRem(20);
          cursor: pointer;
          background: url("../../icon/invisible.svg");
          @extend %icon;
          position: absolute;
          bottom: 10px;
        }

        .password--toggle.visible {
          background: url("../../icon/visible.svg");
        }
      }

      .login__input:focus-within {
        border-bottom-color: $color-secondary;
      }
    }

    .login__button--container {
      margin-bottom: toRem(50);
      gap: toRem(5);
      .login__passrecover {
        text-decoration: none;
        text-transform: capitalize;
        font-size: toRem(15);
        color: $color-light;
      }

      .login__passrecover:hover {
        color: $color-alternative;
      }

      .login__submit {
        display: none;
        @extend %button;
      }

      .button__submit--fake {
        @extend %button;
      }
    }
  }

  .login__privacy {
    position: absolute;
    bottom: 20px;
    color: $color-alternative-2;
  }

  .login__privacy:hover {
    text-decoration: underline;
  }
}

// MEDIA QUERIES
@import "./media-queries/login-media-queries";
