@import "../config";
@import "../global";

.sidebar {
  background-color: $color-dark;

  &__navigation {
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: toRem(30) toRem(20) toRem(10) toRem(20);

    .sidebar__logo {
      border-bottom: 1px solid $color-alternative-2;

      img {
        width: 100%;
        max-width: toRem(150);
        margin-bottom: toRem(25);
      }
    }

    .navlist__wrapper {
      height: 92%;
      width: 100%;
      margin-top: 25px;
      padding-right: toRem(10);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .navlist__wrapper::-webkit-scrollbar {
      cursor: pointer;
      width: 3px;
      height: 8px;
    }
    .navlist__wrapper::-webkit-scrollbar-thumb {
      background: $color-secondary;
      // background: $color-background;
      border-radius: 6px;
    }

    .sidebar__navlist {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      .navlist__item {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: toRem(60);
        border-bottom: 1px solid #333;

        a {
          letter-spacing: toRem(1);
          font-weight: 300;
          font-family: $font-secondary;
          color: $color-light;
        }
        a:hover {
          color: $color-secondary-hover;
        }
      }
      .navlist__item.active a {
        color: $color-secondary;
      }
      .navlist__subtitle {
        text-transform: uppercase;
        font-weight: bold;
        font-size: toRem(18);
        margin-top: toRem(45);
        color: $color-alternative;
      }
    }
  }
}

.navbar__wrapper {
  background-color: $color-background;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.nav {
  min-height: 65px;
  background-color: $color-background;

  &__toggler {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: $color-background;

    .toggler__icon {
      width: 25px;
      height: 25px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      background: url("../../icon/hamburger.svg");
    }
  }
  &__container {
    padding: 0;
    gap: toRem(20);

    .nav__element {
      .current-date {
        display: none;
      }

      .nav__user {
        .nav__user--profile {
          width: toRem(40);
          height: toRem(40);
          border-radius: 50%;
          font-weight: 600;
          background: $color-secondary;
        }

        .nav__user--info {
          button:focus {
            outline: none;
            box-shadow: none !important;
          }
          button:focus-visible {
            box-shadow: $focus-box-shadow !important;
          }

          .dropdown-menu {
            a:hover {
              color: $color-primary;
              background-color: $color-background;
            }
          }
          .dropdown-menu.show {
            transform: none !important;
            left: -70px !important;
            top: 40px !important;
          }
        }
      }
    }
  }
}
