@import "../config";
@import "../global";

@media (min-width: 1170px) {
  .athletes {
    &__container,
    &__container .athlete div {
      overflow: hidden;
    }

    .athlete__name {
      width: toRem(230);
      white-space: nowrap;
    }
  }
}
