@import "../config";
@import "../global";

@media (min-width: 992px) {
  .nav {
    &__container {
      .nav__element {
        .current-date {
          display: inline-block;
          font-family: $font-secondary;
        }
      }
      .nav__divider--vertical {
        // display: block;
        width: 0;
        border-right: 1px solid $color-alternative-2;
        height: calc(4.375rem - 2rem);
        margin: auto toRem(10);
      }
    }
  }
}
