<%- include('../partials/sidebar.ejs') %>
  <!-- MAIN -->
  <main>
    <div class="main-content__wrapper px-4 px-md-5">

      <!-- INTRO -->
      <section class="intro mb-5 d-block d-md-grid">
        <div class="intro__info">
          <h2 class="intro__title fw-bold mb-4">Añadir Atleta</h2>
          <p class="intro__description mb-5 mb-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod
            tempor incididunt ut labore et dolore magna aliqu</p>
        </div>
        <div class="intro__button">
          <a href="/athletes" class="intro__button-link">Todos los Atletas</a>
        </div>
      </section>



      <!-- NEW ATHLETE FORM -->
      <section class="new-athletes">
        <form action="" class="form new-athlete__form" id="new-athlete-form" novalidate autocomplete="off">
          <div class="input__container input__container--firstname">
            <label for="firstname">Nombre</label>
            <input type="text" name="firstname" id="firstname" placeholder="Nombre(s)">
          </div>
          <div class="input__container input__container--lastname">
            <label for="lastname">Apellidos</label>
            <input type="text" name="lastname" id="lastname" placeholder="Apellidos">
          </div>
          <div class="input__container input__container--email">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" id="email" placeholder="usuario@correo.com">
          </div>
          <div class="input__container input__container--phoneNumber">
            <label for="phoneNumber">Número de teléfono</label>
            <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Número de teléfono">
          </div>
          <div class="input__container input__container--plan">
            <label for="plan">Plan</label>
            <select name="plan" id="plan">
              <option value="">Selecciona un plan</option>
              <option value="5D">5D</option>
              <option value="3D">3D</option>
              <option value="Kids">Kids</option>
              <option value="Pareja">Pareja</option>
              <option value="Familiar">Familiar</option>
            </select>
          </div>
          <div class="input__container input__container--group">
            <label for="group">Clase</label>
            <select name="group" id="group">
              <option value="">Selecciona una clase</option>
              <option value="6:00am">6:00am</option>
              <option value="7:30am">7:30am</option>
              <option value="8:30am">8:30am</option>
              <option value="9:30am">9:30am</option>
              <option value="6:00pm">6:00pm</option>
              <option value="7:00pm">7:00pm</option>
              <option value="8:00pm">8:00pm</option>
              <option value="9:00pm">9:00pm</option>
            </select>
          </div>
          <p class="form__error">Por favor llena todos los campos correctamente</p>
          <button type="submit" id="create-athlete">Crear Atleta</button>
        </form>
      </section>
    </div>
  </main>

  </div>
  </div>