@import "../config";
@import "../global";

.athletes {
  padding: toRem(30) 0;

  &__container {
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: toRem(6);
    box-shadow: $hover-box-shadow;
    background: $color-light;
  }

  .athlete {
    grid-template-columns: repeat(6, auto);
    height: toRem(70);
    padding: toRem(20);
    border-bottom: 1px solid black;

    & div {
      overflow-x: scroll;
      overflow-y: hidden;
    }

    &__name {
      width: toRem(150);
    }
    &__email {
      width: toRem(250);
    }
    &__phone {
      width: toRem(150);
    }
    &__plan,
    &__group,
    &__date {
      width: toRem(100);
    }
  }

  &__header.athlete {
    // height: toRem(50);
    background: $linear-gradient-header;

    div {
      font-weight: bold;
    }
  }
}
