@import "../config";
@import "../global";

.athletes {
  padding: toRem(30) 0;

  &__container {
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: toRem(6);
    // box-shadow: $hover-box-shadow;
    background: $color-light;
  }

  .athlete:last-of-type {
    border: none;
  }

  .athlete {
    display: grid;
    grid-template-columns: repeat(6, auto);
    min-height: toRem(70);
    min-width: fit-content;
    border-bottom: 1px solid $color-alternative;

    & div {
      overflow-x: scroll;
      overflow-y: hidden;
      padding: toRem(20);
    }

    &__name {
      min-width: toRem(250);
      max-width: toRem(250);
    }
    &__email {
      min-width: toRem(250);
      max-width: toRem(250);
    }
    &__phone {
      min-width: toRem(150);
    }
    &__plan,
    &__group {
      min-width: toRem(100);
    }
    &__date {
      min-width: toRem(150);
    }
  }

  &__header.athlete {
    min-height: toRem(20);
    padding: 0;
    background: $linear-gradient-header;
    border: none;

    div {
      font-weight: bold;
      color: $color-light;
      // display: flex;
      align-items: center;
    }
  }
}
