@import "./global";

// CONFIG

*:focus-visible {
  outline: none !important;
  box-shadow: $focus-box-shadow;
  border-radius: 6px !important;
}
input:focus-visible,
select:focus-visible {
  box-shadow: none !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 6px;
}

label,
a,
button {
  cursor: pointer;
  transition: ease 0.3s;
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
}

main {
  min-height: 100vh;
  background: $color-background;
}

.main-content__wrapper {
  padding-top: toRem(100);
}

// MAX WIDTH
.nav,
.banner,
.main-content__wrapper {
  max-width: 1450px;
}
