@import "./config";
@import "./global";

@media (min-width: 992px) {
  .login__background {
    display: unset;
  }
  .login__container {
    padding-top: toRem(0);
    min-height: 100vh;
  }
}
@media (max-width: 600px) {
  .login__container .login__header {
    .header__logo {
      max-width: toRem(160);
    }
    .header__title {
      font-size: toRem(26);
    }
  }
  .login__container .login__privacy {
    position: relative;
    margin-bottom: -30px;
  }
}
