.login__container .login__form .login__button--container .login__submit, .login__container .login__form .login__button--container .button__submit--fake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 3em;
  font-weight: 800;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: #000;
  background-color: #ade014;
}

.login__container .login__form .login__button--container .login__submit:hover, .login__container .login__form .login__button--container .button__submit--fake:hover {
  background-color: #93bb1c;
}

.login__container .login__form .login__button--container .login__submit, .login__container .login__form .login__button--container .button__submit--fake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 3em;
  font-weight: 800;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: #000;
  background-color: #ade014;
}

.login__container .login__form .login__button--container .login__submit:hover, .login__container .login__form .login__button--container .button__submit--fake:hover {
  background-color: #93bb1c;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 2px;
}

input:focus-visible {
  box-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

label,
a,
button {
  cursor: pointer;
  transition: ease 0.3s;
  text-decoration: none;
}

body {
  background: #000;
}

.login__background {
  background: url("../../img/media/bullet-crossfit-gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 50%;
  display: none;
}

.login__container {
  min-height: 100vh;
  padding: 1.5625rem;
  padding-top: 3.125rem;
  position: relative;
}

.login__container .login__header .header__logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 2.5rem;
}

.login__container .login__header .header__title {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 3.125rem;
}

.login__container .login__form {
  width: 100%;
  max-width: 450px;
}

.login__container .login__form .login__input--container {
  margin-bottom: 2.5rem;
}

.login__container .login__form .login__input--container .login__input:first-child {
  margin-bottom: 2.5rem;
}

.login__container .login__form .login__input--container .login__input {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #767676;
}

.login__container .login__form .login__input--container .login__input label {
  position: absolute;
  transition: ease-in 0.3s;
  bottom: 7px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #767676;
}

.login__container .login__form .login__input--container .login__input label.focus {
  font-size: 0.75rem;
  transition: ease-in 0.3s;
  transform: translateY(-28px);
  color: #ade014;
}

.login__container .login__form .login__input--container .login__input input {
  width: 90%;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  height: 3.4375rem;
  background: #000;
  color: #fff;
}

.login__container .login__form .login__input--container .login__input input:-webkit-autofill,
.login__container .login__form .login__input--container .login__input input:-webkit-autofill:focus,
.login__container .login__form .login__input--container .login__input input:-webkit-autofill:hover {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
}

.login__container .login__form .login__input--container .login__input .password--toggle {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../../icon/invisible.svg");
}

.login__container .login__form .login__input--container .login__input .password--toggle.visible {
  background: url("../../icon/visible.svg");
}

.login__container .login__form .login__input--container .login__input:focus-within {
  border-bottom-color: #ade014;
}

.login__container .login__form .login__button--container {
  margin-bottom: 3.125rem;
}

.login__container .login__form .login__button--container .login__passrecover {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9375rem;
  color: #fff;
}

.login__container .login__form .login__button--container .login__passrecover:hover {
  color: #a7a7a7;
}

.login__container .login__form .login__button--container .login__submit {
  display: none;
}

.login__container .login__privacy {
  position: absolute;
  bottom: 20px;
  color: #767676;
}

.login__container .login__privacy:hover {
  text-decoration: underline;
}

.login__container .login__form .login__button--container .login__submit, .login__container .login__form .login__button--container .button__submit--fake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 3em;
  font-weight: 800;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: #000;
  background-color: #ade014;
}

.login__container .login__form .login__button--container .login__submit:hover, .login__container .login__form .login__button--container .button__submit--fake:hover {
  background-color: #93bb1c;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 2px;
}

input:focus-visible {
  box-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

label,
a,
button {
  cursor: pointer;
  transition: ease 0.3s;
  text-decoration: none;
}

.login__container .login__form .login__button--container .login__submit, .login__container .login__form .login__button--container .button__submit--fake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 3em;
  font-weight: 800;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 0.375rem;
  color: #000;
  background-color: #ade014;
}

.login__container .login__form .login__button--container .login__submit:hover, .login__container .login__form .login__button--container .button__submit--fake:hover {
  background-color: #93bb1c;
}

@media (min-width: 992px) {
  .login__background {
    display: unset;
  }
  .login__container {
    padding-top: 0rem;
  }
}

@media (max-width: 600px) {
  .login__container .login__header .header__logo {
    max-width: 10rem;
  }
  .login__container .login__header .header__title {
    font-size: 1.625rem;
  }
}
/*# sourceMappingURL=login.css.map */